<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"/>
</head>
<body class="container">
<div th:replace="~{fragment/nav :: top}"></div>
<div class="container">
    <br>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <div class="grid" style="display: flex; justify-content: center;  text-align: center;">
        <h1>등급 제한 게시판입니다.</h1>
    </div>
    <br>
</div>
</body>
</html>