<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/css/article-view.css">
</head>
<body>

<div th:replace="~{fragment/nav :: top}"></div>

<div style="height: 100px"></div>
<main class="container">
    <article>
        <header>
            <h1 th:text="${post.title}">게시글 제목</h1>
            <div class="article-info">
                <span th:text="${post.createdBy}">작성자</span>
                <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}">작성시간</span>

            </div>
        </header>
        <section style="white-space: pre-line;" th:text="${post.contents}">
            게시글 내용
        </section>
        <!-- 기타 정보 (태그, 조회수, 추천수) -->
        <footer>
            <div class="article-react">
                <span th:text="'좋아요: ' + ${post.hits}">좋아요</span>
                <span th:text="'조회수: ' + ${post.hits}">조회수</span>
            </div>
        </footer>
    </article>
    <div class="comment-total-info">
        <p th:text="'댓글 수: ' + ${post.commentResponses.size()}">
            댓글 수
        </p>
        <p>
            조회 수 순 정렬
        </p>
        <p>
            작성 시간 순 정렬
        </p>
    </div>
    <input type="text" name="text" placeholder="댓글을 입력해 주세요" aria-label="Text"/>
    <ul>
        <li class="comment_list" th:unless="${post.commentResponses.isEmpty()}">
            <article th:each="commentResponse : ${post.commentResponses}">
                <p th:text="'작성자 닉네임: ' + ${commentResponse.nickName}">
                    댓글 작성자 아이디
                </p>
                <p>
                    댓글 내용
                </p>
                <div class="comment-each-info">
                    <p>
                        작성 시간
                    </p>
                    <p>
                        좋아요 버튼
                    </p>
                    <p>
                        대댓글 달기
                    </p>
                </div>
            </article>
        </li>
        <li class="comment">
            <article>
                <p>
                    댓글 작성자 아이디
                </p>
                <p>
                    댓글 내용
                </p>
                <div class="comment-each-info">
                    <p>
                        작성 시간
                    </p>
                    <p>
                        좋아요 버튼
                    </p>
                    <p>
                        대댓글 달기
                    </p>
                </div>
            </article>
        </li>
    </ul>
</main>
</body>
</html>