<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"/>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#joinForm').submit(function (e) {
            e.preventDefault(); // 폼 기본 제출 동작 방지

            // 폼 데이터를 JSON 객체로 변환
            var formData = {};
            $(this).serializeArray().forEach(function (item) {
                formData[item.name] = item.value;
            });

            $.ajax({
                type: "POST",
                url: "/api/users",
                contentType: "application/json", // 요청의 Content-Type을 JSON으로 명시
                data: JSON.stringify(formData), // 데이터를 JSON 문자열로 변환
                success: function (response) {
                    // 회원가입 성공 처리
                    window.location.href = "/login";
                },
                error: function (response) {
                    // 오류 처리
                    alert("회원가입 실패");
                }
            });
        });
    });
</script>

<body>
<div th:replace="~{fragment/nav :: top}"></div>
<main class="container" style="width: 500px;">

    <h1>회원 가입</h1>

    <form id="joinForm">
        <label for="loginId">ID:</label>
        <input type="text" id="loginId" name="loginId">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname">

        <label for="region">Region:</label>
        <select id="region" name="region">
            <option th:each="region : ${T(com.example.secondlife.domain.user.enumType.Region).values()}"
                    th:value="${region}"
                    th:text="${region}">Region
            </option>
        </select>

        <label for="birthDate">Birthdate:</label>
        <input type="date" id="birthDate" name="birthDate">

        <label for="selfIntroduction">Self-Introduction:</label>
        <textarea id="selfIntroduction" name="selfIntroduction"></textarea>

        <input type="submit" value="Submit">
    </form>

</main>
</body>

</html>