<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<dialog open>
    <article>
        <header>
            <button aria-label="Close" rel="prev" style="float: right"></button>
        </header>
        <img src="/img/user.png" alt="">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <p>
                닉네임
            </p>
            <div style="display:flex; justify-content: space-between">
                <p>
                    작성 글 수
                </p>
                <p style="margin-left: 50px">
                    회원 등급
                </p>
            </div>
            <p>
                회원 소개
            </p>
        </div>
    </article>
</dialog>
</body>
</html>