<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"/>
</head>
<body class="container">
<div th:replace="~{fragment/nav :: top}"></div>

<main class="container" style="width: 500px">

    <h1>회원 정보 수정</h1>
    <span style="color: #EE402E"> 업데이트 할 부분만 입력하고 </span>
    <br>
    <span style="color: #EE402E"> 나머지는 비워주세요. </span>
    <br>
    <br>
    <form id="userInfoForm" method="POST" th:action="@{'/api/users/' + ${#authentication.principal.userId}}"
          onsubmit="submitForm(event)">
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname"><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password"><br>

        <label for="passwordConfirm">비밀번호 확인:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm"><br>


        <label for="region">지역:</label>
        <select id="region" name="region">
            <option value="">선택하세요</option>
            <option value="SEOUL">서울</option>
            <option value="GYEONGGI">경기</option>
            <option value="CHUNGBUK">충북</option>
            <option value="CHUNGNAM">충남</option>
            <option value="GANGWON">강원</option>
            <option value="JEONBUK">전북</option>
            <option value="JEONNAM">전남</option>
            <option value="GYEONGBUK">경북</option>
            <option value="GYEONGNAM">경남</option>
            <option value="JEJU">제주</option>
        </select><br>

        <label for="birthDate">생년월일:</label>
        <input type="date" id="birthDate" name="birthDate"><br>
        <label for="selfIntroduction">자기 소개:</label><br>
        <textarea id="selfIntroduction" name="selfIntroduction" rows="4" cols="50"></textarea><br>

        <button type="submit">수정</button>
    </form>

    <script>
        function submitForm(event) {
            event.preventDefault(); // 폼 기본 동작 막기

            const form = document.getElementById('userInfoForm');
            const nicknameInput = document.getElementById('nickname');
            const passwordInput = document.getElementById('password');
            const passwordConfirmInput = document.getElementById('passwordConfirm');
            const formData = new FormData(form);

            // 닉네임 길이 체크
            const nickname = nicknameInput.value.trim();
            if (nickname.length > 10) {
                alert('닉네임은 10자 이하로 입력해주세요.');
                return; // 폼 제출 중단
            }

            // 비밀번호 일치 여부 체크
            const password = passwordInput.value;
            const passwordConfirm = passwordConfirmInput.value;
            if (password !== passwordConfirm) {
                alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
                return; // 폼 제출 중단
            }

            const url = form.getAttribute('action');

            fetch(url, {
                method: 'PATCH',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log('회원 정보가 성공적으로 업데이트되었습니다:', data);
                    alert('회원 정보가 성공적으로 업데이트되었습니다.');
                    window.location.href = '/';
                })
                .catch(error => {
                    console.error('회원 정보 업데이트 중 오류 발생:', error);
                    alert('회원 정보 업데이트 중 오류가 발생했습니다.');
                });
        }
    </script>

</main>

</body>
</html>